<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <localRepository>/azp/.m2</localRepository>
  <servers>
    <server>
      <username>cruise</username>
      <password>APE8e4QGohGFRogs</password>
      <id>central</id>
    </server>
    <server>
      <username>cruise</username>
      <password>APE8e4QGohGFRogs</password>
      <id>snapshots</id>
    </server>
    <server>
      <username>cruise</username>
      <password>APE8e4QGohGFRogs</password>
      <id>repo</id>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <mirrorOf>*</mirrorOf>
      <name>repo</name>
      <url>https://maven.incomm.com/artifactory/repo</url>
      <id>repo</id>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </releases>
          <id>central</id>
          <name>release</name>
          <url>https://maven.incomm.com/artifactory/release</url>
        </repository>
        <repository>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
          <releases>
            <enabled>false</enabled>
          </releases>
          <id>snapshots</id>
          <name>snapshots</name>
          <url>https://maven.incomm.com/artifactory/snapshots</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>remote-repos</name>
          <url>https://maven.incomm.com/artifactory/remote-repos</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>snapshots</id>
          <name>remote-repos</name>
          <url>https://maven.incomm.com/artifactory/remote-repos</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
